/.idea
/.idea_modules
/.classpath
/.project
/.settings
/.gradle
/build
/out
/logs
*~
*.BAK
*.OLD
*iml
*.swp
.idea/workspace.xml

# VS Code
bin
.classpath
.project
.settings
.vscode

/target
/project/project/
/project/target/

#
/CREDENTIALS
